# ---------------------------------------------------- #
# Note: this file originates in template-action-docker #
# ---------------------------------------------------- #

*.log
.nyc_output
coverage
node_modules
